html {
    height: 100%;
    margin: 0;
}

body {
    background-image: url('space.jpg');
    background-size: cover;  
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(205, 208, 214);
}

h1{
    text-shadow: 10px 0px;
}

p {
    size: 40px;
    text-align: left;
}

#quote {
  font-size: 24px;
  font-style: italic;
  margin-bottom: 10px;
}
#author {
    font-size: 18px;
    color: #666;
}
